<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liucz.message.mapper.MessageReceiverMapper">
  <resultMap id="BaseResultMap" type="com.liucz.message.model.message.MessageReceiver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="message_body_id" jdbcType="INTEGER" property="messageBodyId" />
    <result column="message_receiver_name" jdbcType="VARCHAR" property="messageReceiverName" />
    <result column="message_receiver_phone" jdbcType="VARCHAR" property="messageReceiverPhone" />
    <result column="message_sender_id" jdbcType="INTEGER" property="messageSenderId" />
    <result column="message_sender_name" jdbcType="VARCHAR" property="messageSenderName" />
    <result column="message_status" jdbcType="INTEGER" property="messageStatus" />
    <result column="send_status" jdbcType="INTEGER" property="sendStatus" />
    <result column="read_time" jdbcType="DATE" property="readTime" />
    <result column="sms_status" jdbcType="INTEGER" property="smsStatus" />
    <result column="tms_status" jdbcType="INTEGER" property="tmsStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, message_body_id, message_receiver_name, message_receiver_phone, message_sender_id, 
    message_sender_name, message_status, send_status, read_time, sms_status, tms_status, 
    create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_message_receiver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.liucz.message.model.message.MessageReceiver">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_message_receiver (uid, message_body_id, message_receiver_name, 
      message_receiver_phone, message_sender_id, 
      message_sender_name, message_status, send_status, 
      read_time, sms_status, tms_status, 
      create_time, update_time, deleted
      )
    values (#{uid,jdbcType=INTEGER}, #{messageBodyId,jdbcType=INTEGER}, #{messageReceiverName,jdbcType=VARCHAR}, 
      #{messageReceiverPhone,jdbcType=VARCHAR}, #{messageSenderId,jdbcType=INTEGER}, 
      #{messageSenderName,jdbcType=VARCHAR}, #{messageStatus,jdbcType=INTEGER}, #{sendStatus,jdbcType=INTEGER}, 
      #{readTime,jdbcType=DATE}, #{smsStatus,jdbcType=INTEGER}, #{tmsStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liucz.message.model.message.MessageReceiver">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_message_receiver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="messageBodyId != null">
        message_body_id,
      </if>
      <if test="messageReceiverName != null">
        message_receiver_name,
      </if>
      <if test="messageReceiverPhone != null">
        message_receiver_phone,
      </if>
      <if test="messageSenderId != null">
        message_sender_id,
      </if>
      <if test="messageSenderName != null">
        message_sender_name,
      </if>
      <if test="messageStatus != null">
        message_status,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="readTime != null">
        read_time,
      </if>
      <if test="smsStatus != null">
        sms_status,
      </if>
      <if test="tmsStatus != null">
        tms_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="messageBodyId != null">
        #{messageBodyId,jdbcType=INTEGER},
      </if>
      <if test="messageReceiverName != null">
        #{messageReceiverName,jdbcType=VARCHAR},
      </if>
      <if test="messageReceiverPhone != null">
        #{messageReceiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="messageSenderId != null">
        #{messageSenderId,jdbcType=INTEGER},
      </if>
      <if test="messageSenderName != null">
        #{messageSenderName,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null">
        #{messageStatus,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="readTime != null">
        #{readTime,jdbcType=DATE},
      </if>
      <if test="smsStatus != null">
        #{smsStatus,jdbcType=INTEGER},
      </if>
      <if test="tmsStatus != null">
        #{tmsStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liucz.message.model.message.MessageReceiver">
    update t_message_receiver
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="messageBodyId != null">
        message_body_id = #{messageBodyId,jdbcType=INTEGER},
      </if>
      <if test="messageReceiverName != null">
        message_receiver_name = #{messageReceiverName,jdbcType=VARCHAR},
      </if>
      <if test="messageReceiverPhone != null">
        message_receiver_phone = #{messageReceiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="messageSenderId != null">
        message_sender_id = #{messageSenderId,jdbcType=INTEGER},
      </if>
      <if test="messageSenderName != null">
        message_sender_name = #{messageSenderName,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null">
        message_status = #{messageStatus,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="readTime != null">
        read_time = #{readTime,jdbcType=DATE},
      </if>
      <if test="smsStatus != null">
        sms_status = #{smsStatus,jdbcType=INTEGER},
      </if>
      <if test="tmsStatus != null">
        tms_status = #{tmsStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liucz.message.model.message.MessageReceiver">
    update t_message_receiver
    set uid = #{uid,jdbcType=INTEGER},
      message_body_id = #{messageBodyId,jdbcType=INTEGER},
      message_receiver_name = #{messageReceiverName,jdbcType=VARCHAR},
      message_receiver_phone = #{messageReceiverPhone,jdbcType=VARCHAR},
      message_sender_id = #{messageSenderId,jdbcType=INTEGER},
      message_sender_name = #{messageSenderName,jdbcType=VARCHAR},
      message_status = #{messageStatus,jdbcType=INTEGER},
      send_status = #{sendStatus,jdbcType=INTEGER},
      read_time = #{readTime,jdbcType=DATE},
      sms_status = #{smsStatus,jdbcType=INTEGER},
      tms_status = #{tmsStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>